*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 12%;
    background: rgba(14, 9, 9, .8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: whitesmoke;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 15px orangered, 0 0 15px orangered;
    transform: scale(1.1); 
}
span{
    color: orangered;
}
span:hover{
    color: whitesmoke;
}
.navbar a{
    font-size: 18px;
    color: whitesmoke;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: orangered;
    border-bottom:  3px solid transparent;
    text-shadow: 0 0 15px orangered, 0 0 15px orangered;
    transform: scale(1.1);
}
.homepage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home-content{
    max-width: 800px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.home-content h3{
    font-size: 40px;
}
.home-content h1{
    font-size: 50px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 25px;
    margin: 25px 0;
}
.btn-box{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 20px;
}
.btn1{
    padding: 15px 28px;
    background-color: black;
    color: orangered;
    border: 2px solid transparent;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
}
.btn1 a{
    color: white;
    text-decoration: none;
}

.btn2{
    padding: 15px 28px;
    background-color: black;
    color: orangered;
    border: 2px solid transparent;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
    cursor: pointer;
}
.btn1:hover{
    background-color: orangered;
    color: whitesmoke;
    border: 2px solid black;
    transform: scale(1.1);
}
.btn2:hover{
    background-color: orangered;
    color: whitesmoke;
    border: 2px solid black;
    transform: scale(1.1);
}
.img-box{
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    margin-top: 20px;
    z-index: 0;
    width: 100%;
    max-width: 800px;
}
.img-box img{
    width: 90%;
    border-radius: 50%;
}

.footer {
    background: rgba(14, 9, 9, 0.8); /* Adjusted background opacity */
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer div {
    flex: 1;
}










